<nav>
    <ul class="navigation">
        <li>{{#link-to "index"}}indie<span style="color:rgb(130, 250, 180)">NIK</span>{{/link-to}}</li>
        <li>{{#link-to "contact"}}Contact Us{{/link-to}}</li>
        <li>{{#link-to "about"}}About Us{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}